<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>小山屋论坛-首页</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- 新 Bootstrap5 核心 CSS 文件 -->
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <!--  popper.min.js 用于弹窗、提示、下拉菜单 -->
    <!--<script src="https://cdn.staticfile.org/popper.js/2.9.3/umd/popper.min.js"></script>-->

    <!-- 最新的 Bootstrap5 核心 JavaScript 文件 -->
    <script src="js/bootstrap.bundle.min.js"></script>

    <!--  vue.js  -->
    <script src="js/vue.js"></script>

    <!--  bootstrap5 图标库-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

    <!--  备用cdn  -->

    <!-- 新 Bootstrap5 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css">

    <!--  popper.min.js 用于弹窗、提示、下拉菜单 -->
    <script src="https://cdn.staticfile.org/popper.js/2.9.3/umd/popper.min.js"></script>

    <!-- 最新的 Bootstrap5 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/js/bootstrap.min.js"></script>

    <script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
    <script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>

    <!--  和风天气  -->
    <script src="https://widget.qweather.net/simple/static/js/he-simple-common.js?v=2.0"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/mdui@1.0.2/dist/css/mdui.min.css"/>

    <script src="https://cdn.jsdelivr.net/npm/mdui@1.0.2/dist/js/mdui.min.js"></script>

    <style>
        #subnav{
            margin-top: 20px;
        }
        #thinav{
            margin-top: 10px;
        }
        #tiezi{
            margin-top: 5px;
            margin-bottom: 5px;
        }
        #tiezi2{
            margin-top: 5px;
            margin-bottom: 5px;
        }
        #mainbody{
            background-image: url("https://s3.bmp.ovh/imgs/2022/03/07ca2075685f0fd8.png");
            background-size:100% 100%;
        }
    </style>

</head>
<body id="mainbody">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">
            小山屋论坛</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#"><span class="bi-balloon-heart"></span>
                        漂流瓶</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#"><span class="bi-chat-left-quote"></span>
                        风纪委员会</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/article/toarticleup"><span class="bi-chat-left-quote"></span>
                        发布新文章</a>
                </li>
            </ul>
        </div>
        <div class="nav-item dropdown d-flex">
            <a class="nav-link link-light dropdown-toggle" href="#" id="navbarDropdownMenuLink"
               role="button" data-bs-toggle="dropdown" aria-expanded="false" th:text="${user.getUsername()}">
                用户
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><h6 class="dropdown-header">我的</h6></li>
                <li><a class="dropdown-item" href="/user/tousercenter"><span class="bi-people"></span> 个人中心</a></li>
                <li><a class="dropdown-item" href="/user/userallarticle"><span class="bi-card-text"></span> 我的帖子</a></li>
                <li><a class="dropdown-item" href="#"><span class="bi-back"></span> 我的主题</a></li>
                <li><a class="dropdown-item" href="/user/usercollects"><span class="bi-star"></span> 我的收藏</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><h6 class="dropdown-header">安全</h6></li>
                <li><a class="dropdown-item" href="/user/userinfo"><span class="bi-clipboard-data"></span> 我的信息</a></li>
                <li><a class="dropdown-item" href="/user/tochangepwd"><span class="bi-key"></span> 修改密码</a></li>
                <li><a class="dropdown-item" href="/user/tochangeemail"><span class="bi-at"></span> 修改邮箱</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><h6 class="dropdown-header">其他</h6></li>
                <li><a class="dropdown-item" href="/user/logout"><span class="bi-power"></span> 退出登录</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">

    <div id="subnav">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link active" href="http://localhost:8080/ind/userindex">
                    全部
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="http://localhost:8080/article/totheme">
                    <span class="bi-code"></span> 编程
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="http://localhost:8080/article/totheme?tid=1">
                    <span class="bi-telegram"></span> 求职招聘
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="http://localhost:8080/article/totheme?tid=2">
                    <span class="bi-emoji-sunglasses"></span> 动漫
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="http://localhost:8080/article/totheme?tid=3">
                    <span class="bi-joystick"></span> 游戏
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="http://localhost:8080/article/totheme?tid=4g">
                    <span class="bi-pen"></span> 文学
                </a>
            </li>
        </ul>
    </div>

    <div class="row" id="thinav">
        <div class="col-sm-8">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8080/ind/userindex">默认</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8080/article/defaulthot">热门</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8080/article/defaultnew">最新</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="http://localhost:8080/article/defaultnore">消灭零回复</a>
                </li>
            </ul>

<!--            <div class="card" id="tiezi" th:each="article,iterStat : ${articlesimpl}">-->

<!--                <div class="card-header">-->
<!--                    <span class="badge rounded-pill bg-primary" th:text="${article.getThemeName()}">分区</span>-->
<!--                </div>-->
<!--                <div class="card-body">-->
<!--                    <a th:text="${article.getArticletitle()}" class="h4 link-primary"-->
<!--                       th:href="@{http://localhost:8080/article/articlemore(articleid=${article.getArticleid()})}">文章标题</a>-->
<!--                    <table class="table table-borderless table-sm">-->
<!--                        <tbody>-->
<!--                        <tr>-->
<!--                            <td>-->
<!--                                <span class="badge rounded-pill bg-success">作者</span>-->
<!--                            </td>-->
<!--                            <td th:text="${article.getArticleauthoridImpl()}">-->

<!--                            </td>-->
<!--                            <td>-->
<!--                                <span class="badge rounded-pill bg-success">发布时间</span>-->
<!--                            </td>-->
<!--                            <td th:text="${article.getArticlePublishTimeImpl()}">-->

<!--                            </td>-->
<!--                        </tr>-->
<!--                        </tbody>-->
<!--                    </table>-->
<!--                </div>-->
<!--                <div class="card-footer">-->
<!--                    <span class="bi-hand-thumbs-up"></span>-->
<!--                    <span class="badge bg-secondary" th:text="${article.getArticlethumb()}">14</span>-->
<!--                    <span class="bi-star"></span>-->
<!--                    <span class="badge bg-secondary" th:text="${article.getArticlecollect()}">30</span>-->
<!--                    <span class="bi-chat"></span>-->
<!--                    <span class="badge bg-secondary" th:text="${article.getArticlereplycount()}">5</span>-->
<!--                </div>-->
<!--            </div>-->

            <div class="mdui-card" id="tiezi2" th:each="article,iterStat : ${articlesimpl}">
                <!-- 卡片头部，包含头像、标题、副标题 -->
                <div class="mdui-card-header">
                    <img class="mdui-card-header-avatar" th:src="@{${article.getArticleauthorImg()}}"/>
                    <div class="mdui-card-header-title" th:text="${article.getArticleauthoridImpl()}">
                        Title</div>
                    <div class="mdui-card-header-subtitle" th:text="${article.getArticlePublishTimeImpl()}">
                        Subtitle</div>
                </div>

                <!-- 卡片的标题和副标题 -->
                <div class="mdui-card-primary">
                    <div class="mdui-card-primary-title">
                        <a th:text="${article.getArticletitle()}"
                           th:href="@{http://localhost:8080/article/articlemore(articleid=${article.getArticleid()})}">
                            文章标题</a>
                    </div>
                </div>

                <!-- 卡片的按钮 -->
                <div class="mdui-card-actions">
                    <button class="mdui-btn mdui-color-theme-accent mdui-ripple">
                        <i class="mdui-icon mdui-icon-left material-icons">thumb_up</i>
                        <span class="mdui-chip-title" th:text="${article.getArticlethumb()}"></span>
                    </button>
                    <button class="mdui-btn mdui-color-theme-accent mdui-ripple">
                        <i class="mdui-icon mdui-icon-left material-icons">star</i>
                        <span class="mdui-chip-title" th:text="${article.getArticlecollect()}"></span>
                    </button>
                    <button class="mdui-btn mdui-color-theme-accent mdui-ripple">
                        <i class="mdui-icon mdui-icon-left material-icons">textsms</i>
                        <span class="mdui-chip-title" th:text="${article.getArticlereplycount()}"></span>
                    </button>
                    <button class="mdui-btn mdui-color-theme-accent mdui-ripple">
                        <i class="mdui-icon material-icons">trending_up</i>
                        <span class="mdui-chip-title" th:text="${article.getArticlehot()}"></span>
                    </button>
                </div>
            </div>

            <div class="alert alert-info" role="alert" th:text="${'共：'+pages.getTotalElements()+'行'}">
            </div>

            <nav>
                <ul class="pagination">
                    <li th:each="i : ${#numbers.sequence(1,pages.getTotalPages())}"
                        th:class="${pages.getNumber() + 1 != i}?'page-item':'page-item active'">
                        <a class="page-link"
                           th:href="@{defaultnore(page=${i},limit=${pages.getSize()})}"
                           th:text="${i}">
                            Previous</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-sm-4">

        </div>
    </div>
</div>
<footer class="bd-footer p-3 p-md-5 mt-5 bg-light text-center text-sm-start">
    <div class="container">
        <ul class="bd-footer-links ps-0 mb-3">
            <li class="d-inline-block" ><a href="https://github.com/bluebonnet27/xiaoshanwu">GitHub</a></li>
        </ul>
        <p class="mb-0">小山屋论坛 Copyright© 2022 All Rights Reserved. </p>
        <p class="mb-0">当前版本 v0.1。</p>
    </div>
</footer>
</body>
</html>