<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>文章详情</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- 新 Bootstrap5 核心 CSS 文件 -->
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <!-- 最新的 Bootstrap5 核心 JavaScript 文件 -->
    <script src="js/bootstrap.bundle.min.js"></script>

    <!--  vue.js  -->
    <script src="js/vue.js"></script>

    <!--  bootstrap5 图标库-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

    <!--  备用cdn  -->
    <!-- 新 Bootstrap5 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css">

    <!--  popper.min.js 用于弹窗、提示、下拉菜单 -->
    <script src="https://cdn.staticfile.org/popper.js/2.9.3/umd/popper.min.js"></script>

    <!-- 最新的 Bootstrap5 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/js/bootstrap.min.js"></script>

    <script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
    <script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>

    <!--  和风天气  -->
    <script src="https://widget.qweather.net/simple/static/js/he-simple-common.js?v=2.0"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/mdui@1.0.2/dist/css/mdui.min.css"/>

    <script src="https://cdn.jsdelivr.net/npm/mdui@1.0.2/dist/js/mdui.min.js"></script>

    <style>
        #mainbody{
            background-image: url("https://s3.bmp.ovh/imgs/2022/03/07ca2075685f0fd8.png");
            background-size:100% 100%;
        }
        #test-editormd{
            margin: 10px;
        }
        #headerh{
            margin: 10px;
        }
        #maincard{
            margin-top: 10px;
        }
        #maincard2{
            margin-top: 5px;
        }
        #maincard-right1{
            margin-top: 10px;
        }
        #maincard-right2{
            margin-top: 5px;
        }
        #maincard-right3{
            margin-top: 5px;
        }
        #maincard-right4{
            margin-top: 5px;
        }
    </style>
</head>
<body id="mainbody">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">
            小山屋论坛</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#"><span class="bi-balloon-heart"></span>
                        漂流瓶</a>
                </li>
            </ul>

        </div>
        <div class="nav-item dropdown d-flex">
            <a class="nav-link link-light dropdown-toggle" href="#" id="navbarDropdownMenuLink"
               role="button" data-bs-toggle="dropdown" aria-expanded="false" th:text="${username}">
                用户
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><h6 class="dropdown-header">我的</h6></li>
                <li><a class="dropdown-item" href="/user/tousercenter"><span class="bi-people"></span> 个人中心</a></li>
                <li><a class="dropdown-item" href="/user/userallarticle"><span class="bi-card-text"></span> 我的帖子</a></li>
                <li><a class="dropdown-item" href="#"><span class="bi-back"></span> 我的主题</a></li>
                <li><a class="dropdown-item" href="/user/usercollects"><span class="bi-star"></span> 我的收藏</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><h6 class="dropdown-header">安全</h6></li>
                <li><a class="dropdown-item" href="/user/userinfo"><span class="bi-clipboard-data"></span> 我的信息</a></li>
                <li><a class="dropdown-item" href="/user/tochangepwd"><span class="bi-key"></span> 修改密码</a></li>
                <li><a class="dropdown-item" href="/user/tochangeemail"><span class="bi-at"></span> 修改邮箱</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><h6 class="dropdown-header">其他</h6></li>
                <li><a class="dropdown-item" href="/ind/logout"><span class="bi-power"></span> 退出登录</a></li>
            </ul>
        </div>
    </div>
</nav>

<!-- Modal -->
<div class="modal fade" id="reportModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">举报这条评论</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">举报类别：</label>
                        <input type="text" class="form-control" id="recipient-name">
                    </div>
                    <div class="mb-3">
                        <label for="message-text" class="col-form-label">详细理由：</label>
                        <textarea class="form-control" id="message-text"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">提交举报</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="collectModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="collectModalLabel">收藏帖子</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label class="col-form-label">选择一个收藏夹</label>
<!--                        <input type="text" class="form-control" id="recipient-name">-->
                        <div class="form-check" th:each="folder,iterStat:${folders}">
                            <input class="form-check-input" type="radio" th:value="${folder.getFolderid()}" id="flexRadioDefault1" v-model="folderselect">
                            <label class="form-check-label" for="flexRadioDefault1" th:text="${folder.getFoldername()}">

                            </label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary">收藏</button>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <div class="card" id="maincard"
                 th:style="'background-image: url('+${article.getArticleImgUrl()}+');background-repeat:no-repeat;background-size:100%;'">
                <div id="headerh">
                    <h1 th:text="${article.getArticletitle()}">标题</h1>
                    <table class="table table-sm table-borderless">
                        <tbody>
                            <tr>
                                <td class="badge bg-primary">发布日期</td>
                                <td th:text="${article.getArticlePublishTimeImpl()}"></td>
                                <td class="badge bg-primary">修改日期</td>
                                <td th:text="${article.getArticleChangeTimeImpl()}"></td>
                                <td>
                                    <span class="badge bg-danger">
                                        <span class="bi-hand-thumbs-up"></span>
                                    </span>
                                </td>
                                <td th:text="${article.getArticlethumb()}"></td>
                                <td>
                                    <span class="badge bg-success">
                                        <span class="bi-star"></span>
                                    </span>
                                </td>
                                <td th:text="${article.getArticlecollect()}"></td>
                                <td>
                                    <span class="badge bg-info">
                                        <span class="bi-chat-left"></span>
                                    </span>
                                </td>
                                <td th:text="${article.getArticlereplycount()}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card" id="maincard2">
                <div id="test-editormd">
                    <textarea style="display:none;" th:text="${article.getArticlecontent()}"></textarea>
                </div>
            </div>

            <div class="alert alert-danger" role="alert">
                本文版权为作者所有，如需转载，请注明作者名字以及文章来源。
            </div>

            <div class="row">
                <div class="col-sm-10">
                    <h1><span class="bi-quote"></span> 评论列表</h1>
                </div>
                <div class="col-sm-2">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                            排序方式
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <li><a th:class="${corder==0}?'dropdown-item active':'dropdown-item'"
                                   th:href="@{articlemore(articleid=${article.getArticleid()},corder = 0)}">默认排序</a></li>
                            <li><a th:class="${corder==1}?'dropdown-item active':'dropdown-item'"
                                   th:href="@{articlemore(articleid=${article.getArticleid()},corder = 1)}">按最新</a></li>
                            <li><a th:class="${corder==2}?'dropdown-item active':'dropdown-item'"
                                   th:href="@{articlemore(articleid=${article.getArticleid()},corder = 2)}">按最热</a></li>
                            <li><a th:class="${corder==3}?'dropdown-item active':'dropdown-item'"
                                   th:href="@{articlemore(articleid=${article.getArticleid()},corder = 3)}">按点赞最多</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="card mb-3" th:each="comment,iterStat : ${commentsImpl}">
                <div class="row g-0">
                    <div class="col-md-2">
                        <img th:src="@{${comment.getCommentUserHeadImpl()}}" class="img-fluid img-thumbnail">
                    </div>
                    <div class="col-md-10">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${comment.getCommentUserNameImpl()}+'    #'+${iterStat.count}">Card title</h5>
                            <p class="card-text" th:text="${comment.getCommentcontent()}">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <p class="card-text">
                                <small class="text-muted" th:text="'发表于' + ${comment.getCommentDateImpl()}">
                                    Last updated 3 mins ago
                                </small>
                            </p>
                            <a href="#" class="btn btn-outline-info">
                                <span class="bi-hand-thumbs-up"></span>点赞
                            </a>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#reportModal">
                                举报
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <nav>
                <ul class="pagination">
                    <li th:each="i : ${#numbers.sequence(1,pages.getTotalPages())}"
                        th:class="${pages.getNumber() + 1 != i}?'page-item':'page-item active'">
                        <a class="page-link"
                           th:href="@{articlemore(page=${i},limit=${pages.getSize()},corder=${corder})}"
                           th:text="${i}">
                            Previous</a>
                    </li>
                </ul>
            </nav>
            <div class="card mb-3" id="mycomment">
                <div class="row g-0">
                    <div class="col-md-2">
                        <img th:src="@{${userimpl.getUserimgImpl()}}" class="img-fluid img-thumbnail">
                    </div>
                    <div class="col-md-10">
                        <div class="card-body">
                            <div class="mb-3">
                                <label for="exampleFormControlTextarea1" class="form-label">在此处写下您的评论：</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1"
                                          placeholder="说点什么... ..." rows="3" v-model="mycontent">
                                </textarea>
                            </div>
                            <button type="button" class="btn btn-info" th:@click="|tocomment(${article.getArticleid()})|">提交</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card" id="maincard-right1">
                <div class="card-header">
                    <span class="bi-wrench"></span> 操作
                </div>
                <div class="card-body" id="caozuo">
                    <button class="btn btn-danger" th:@click="|zan(${article.getArticleid()})|">
                        <span class="bi-hand-thumbs-up"></span>点赞
                    </button>
                    <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#collectModal">
                        <span class="bi-star"></span>收藏
                    </button>
                </div>
            </div>

            <div class="card" id="maincard-right2">
                <div class="card-header">
                    <span class="bi-pencil"></span> 作者
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <img th:src="@{${userimpl.getUserimgImpl()}}" class="img-fluid img-thumbnail">
                        </div>
                        <div class="col-sm-9">
                            <table class="table table-borderless">
                                <tbody>
                                <tr>
                                    <td>
                                        <span class="bi-person"></span>
                                    </td>
                                    <td th:text="${userimpl.getUsername()}"></td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="bi-at"></span>
                                    </td>
                                    <td th:text="${userimpl.getUseremail()}"></td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="bi-chat-left"></span>
                                    </td>
                                    <td th:text="${userimpl.getUserstatement()}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card" id="maincard-right3">
                <div class="card-header">
                    <span class="bi-star"></span> 收藏夹
                </div>
                <div class="card-body">
                    <h5 th:style="${iscollectempty}?'':'display: none'">您没有收藏这篇文章，要收藏么？</h5>
                    <h5 th:style="${iscollectempty}?'display: none':''">这篇文章存在于以下收藏夹：</h5>
                    <ul class="list-group" th:style="${iscollectempty}?'display: none':''">
                        <li class="list-group-item" th:each="collect,iterStat:${collects}"
                            th:text="${collect.getCollecttype()}"></li>
                    </ul>
                </div>
            </div>

            <div class="card" id="maincard-right4">
                <div class="card-header">
                    <span class="bi-badge-ad"></span> 广告
                </div>
                <div class="card-body">
                    <h5>广告位招租</h5>
                </div>
            </div>
        </div>
    </div>
</div>


<footer class="bd-footer p-3 p-md-5 mt-5 bg-light text-center text-sm-start">
    <div class="container">
        <ul class="bd-footer-links ps-0 mb-3">
            <li class="d-inline-block" ><a href="https://github.com/bluebonnet27/xiaoshanwu">GitHub</a></li>
        </ul>
        <p class="mb-0">小山屋论坛 Copyright© 2022 All Rights Reserved. </p>
        <p class="mb-0">当前版本 v0.1。</p>
    </div>
</footer>
<link rel="stylesheet" th:href="@{/editormd/css/editormd.preview.css}"/>
<script th:src="@{/js/jquery-3.5.1.js}"></script>
<!--mark基本-->
<script th:src="@{/editormd/lib/marked.min.js}"></script>
<!--代码高亮-->
<script th:src="@{/editormd/lib/prettify.min.js}"></script>
<!--暂时不知道这个文件是干什么的，但加上这个popper就会失效-->
<!--<script th:src="@{/editormd/lib/raphael.min.js}"></script>-->
<script th:src="@{/editormd/lib/underscore.min.js}"></script>
<script th:src="@{/editormd/lib/sequence-diagram.min.js}"></script>
<script th:src="@{/editormd/lib/flowchart.min.js}"></script>
<script th:src="@{/editormd/lib/jquery.flowchart.min.js}"></script>
<script th:src="@{/editormd/js/editormd.min.js}"></script>
<script type="text/javascript">
    var testEditor;

    $(function () {
        testEditor = editormd.markdownToHTML("test-editormd", {
            htmlDecode: "style,script,iframe", // tags
            emoji: true,
            taskList: true,
            tex: true, // 默认不解析
            flowChart: false, // 默认不解析
            sequenceDiagram: true, // 默认不解析
            path: "./editormd/lib/",
            previewTheme: "dark"
        })
    })

</script>
<script>
    new Vue({
        el:"#caozuo",
        data:{
            errMsg:"",
            resMsg:""
        },
        methods:{
            zan:function (aid){
                //封装表单参数
                const formDate=new FormData();
                formDate.append("articleid",aid);

                axios
                    .post('http://localhost:8080/article/thumb',formDate)
                    .then(response =>{
                        if(response.data.result){
                            alert(response.data.resMsg)
                            location.reload()
                        }else{
                            alert(response.data.errMsg)
                        }
                    })
                    .catch(function (error) { // 请求失败处理
                        console.log(error);
                    });
            }
        }
    })

    new Vue({
        el:"#mycomment",
        data:{
            mycontent:"",
            errMsg:"",
            resMsg:""
        },
        methods:{
            tocomment:function (arid){
                //封装表单参数
                const formDate=new FormData();
                formDate.append("commentar",arid);
                formDate.append("content",this.mycontent);

                axios
                    .post('http://localhost:8080/comment/addcomment',formDate)
                    .then(response =>{
                        if(response.data.result){
                            alert(response.data.resMsg)
                            location.reload()
                        }else{
                            alert(response.data.errMsg)
                        }
                    })
                    .catch(function (error) { // 请求失败处理
                        console.log(error);
                    });
            }
        }
    })
</script>
</body>
</html>