<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>文章详情</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- 新 Bootstrap5 核心 CSS 文件 -->
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <!--  popper.min.js 用于弹窗、提示、下拉菜单 -->
    <!--<script src="https://cdn.staticfile.org/popper.js/2.9.3/umd/popper.min.js"></script>-->

    <!-- 最新的 Bootstrap5 核心 JavaScript 文件 -->
    <script src="js/bootstrap.bundle.min.js"></script>

    <!--  vue.js  -->
    <script src="js/vue.js"></script>

    <!--  bootstrap5 图标库-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

    <!--  备用cdn  -->

    <!-- 新 Bootstrap5 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css">

    <!--  popper.min.js 用于弹窗、提示、下拉菜单 -->
    <script src="https://cdn.staticfile.org/popper.js/2.9.3/umd/popper.min.js"></script>

    <!-- 最新的 Bootstrap5 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/js/bootstrap.min.js"></script>

    <script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
    <script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>

    <!--  和风天气  -->
    <script src="https://widget.qweather.net/simple/static/js/he-simple-common.js?v=2.0"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/mdui@1.0.2/dist/css/mdui.min.css"/>

    <script src="https://cdn.jsdelivr.net/npm/mdui@1.0.2/dist/js/mdui.min.js"></script>

    <style>
        #subnav{
            margin-top: 20px;
        }
        #thinav{
            margin-top: 10px;
        }
        #tiezi{
            margin-top: 5px;
            margin-bottom: 5px;
        }
        #mainbody{
            background-image: url("https://s3.bmp.ovh/imgs/2022/03/07ca2075685f0fd8.png");
            background-size:100% 100%;
        }
        #test-editormd{
            margin: 10px;
        }
        #headerh{
            margin: 10px;
        }
        #maincard{
            margin-top: 60px;
        }
        #maincard2{
            margin-top: 5px;
        }
        #maincard-right1{
            margin-top: 60px;
        }
        #maincard-right2{
            margin-top: 5px;
        }
    </style>

</head>
<body id="mainbody">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">
            小山屋论坛</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#"><span class="bi-balloon-heart"></span>
                        漂流瓶</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#"><span class="bi-chat-left-quote"></span>
                        风纪委员会</a>
                </li>
            </ul>

        </div>
        <div class="nav-item dropdown d-flex">
            <a class="nav-link link-light dropdown-toggle" href="#" id="navbarDropdownMenuLink"
               role="button" data-bs-toggle="dropdown" aria-expanded="false" th:text="${username}">
                用户
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="/user/tousercenter"><span class="bi-people"></span> 个人中心</a></li>
                <li><a class="dropdown-item" href="#"><span class="bi-people"></span> 反馈</a></li>
                <li><a class="dropdown-item" href="/user/logout"><span class="bi-power"></span> 退出登录</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <div class="card" id="maincard"
                 th:style="'background-image: url('+${article.getArticleImgUrl()}+');background-repeat:no-repeat;background-size:100%;'">
                <div id="headerh">
                    <h1 th:text="${article.getArticletitle()}">标题</h1>
                    <table class="table table-sm table-borderless">
                        <tbody>
                            <tr>
                                <td class="badge bg-primary">发布日期</td>
                                <td th:text="${article.getArticlePublishTimeImpl()}"></td>
                                <td class="badge bg-primary">修改日期</td>
                                <td th:text="${article.getArticleChangeTimeImpl()}"></td>
                                <td>
                                    <span class="badge bg-danger">
                                        <span class="bi-hand-thumbs-up"></span>
                                    </span>
                                </td>
                                <td th:text="${article.getArticlethumb()}"></td>
                                <td>
                                    <span class="badge bg-success">
                                        <span class="bi-star"></span>
                                    </span>
                                </td>
                                <td th:text="${article.getArticlecollect()}"></td>
                                <td>
                                    <span class="badge bg-info">
                                        <span class="bi-chat-left"></span>
                                    </span>
                                </td>
                                <td th:text="${article.getArticlereplycount()}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card" id="maincard2">
                <div id="test-editormd">
                    <textarea style="display:none;" th:text="${article.getArticlecontent()}"></textarea>
                </div>
            </div>
            <div class="alert alert-danger" role="alert">
                本文版权为作者所有，如需转载，请注明作者名字以及文章来源。
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card" id="maincard-right1">
                <div class="card-header">
                    操作
                </div>
                <div class="card-body">
                    <button class="btn btn-danger">
                        <span class="bi-hand-thumbs-up"></span>点赞</button>
                    <button class="btn btn-success">
                        <span class="bi-star"></span>收藏</button>
                </div>
            </div>

            <div class="card" id="maincard-right2">
                <div class="card-header">
                    作者
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <img th:src="@{${userimpl.getUserimgImpl()}}" class="img-fluid img-thumbnail">
                        </div>
                        <div class="col-sm-9">
                            <table class="table table-borderless">
                                <tbody>
                                <tr>
                                    <td>
                                        <span class="bi-person"></span>
                                    </td>
                                    <td th:text="${userimpl.getUsername()}"></td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="bi-at"></span>
                                    </td>
                                    <td th:text="${userimpl.getUseremail()}"></td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="bi-chat-left"></span>
                                    </td>
                                    <td th:text="${userimpl.getUserstatement()}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="bd-footer p-3 p-md-5 mt-5 bg-light text-center text-sm-start">
    <div class="container">
        <ul class="bd-footer-links ps-0 mb-3">
            <li class="d-inline-block" ><a href="https://github.com/bluebonnet27/xiaoshanwu">GitHub</a></li>
        </ul>
        <p class="mb-0">小山屋论坛 Copyright© 2022 All Rights Reserved. </p>
        <p class="mb-0">当前版本 v0.1。</p>
    </div>
</footer>
<link rel="stylesheet" th:href="@{/editormd/css/editormd.preview.css}"/>
<script th:src="@{/js/jquery-3.5.1.js}"></script>
<script th:src="@{/editormd/lib/marked.min.js}"></script>
<script th:src="@{/editormd/lib/prettify.min.js}"></script>
<script th:src="@{/editormd/lib/raphael.min.js}"></script>
<script th:src="@{/editormd/lib/underscore.min.js}"></script>
<script th:src="@{/editormd/lib/sequence-diagram.min.js}"></script>
<script th:src="@{/editormd/lib/flowchart.min.js}"></script>
<script th:src="@{/editormd/lib/jquery.flowchart.min.js}"></script>
<script th:src="@{/editormd/js/editormd.min.js}"></script>
<script type="text/javascript">

    var testEditor;

    $(function () {
        testEditor = editormd.markdownToHTML("test-editormd", {
            htmlDecode: "style,script,iframe", // you can filter tags decode
            emoji: true,
            taskList: true,
            tex: true, // 默认不解析
            flowChart: false, // 默认不解析
            sequenceDiagram: true, // 默认不解析
            path: "./editormd/lib/",
            previewTheme: "dark"
        })
    })

</script>
</body>
</html>