<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>欢迎来到小山屋论坛</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- 新 Bootstrap5 核心 CSS 文件 -->
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <!--  popper.min.js 用于弹窗、提示、下拉菜单 -->
    <!--<script src="https://cdn.staticfile.org/popper.js/2.9.3/umd/popper.min.js"></script>-->

    <!-- 最新的 Bootstrap5 核心 JavaScript 文件 -->
    <script src="js/bootstrap.bundle.min.js"></script>

    <!--  bootstrap5 图标库-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

    <!--  备用cdn  -->

    <!-- 新 Bootstrap5 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css">

    <!--  popper.min.js 用于弹窗、提示、下拉菜单 -->
    <script src="https://cdn.staticfile.org/popper.js/2.9.3/umd/popper.min.js"></script>

    <!-- 最新的 Bootstrap5 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/js/bootstrap.min.js"></script>

</head>
<body>
    <h1 th:text="${'Welcome '+uname}"></h1>
</body>
</html>