<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <title>小山屋论坛-找回密码</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- 新 Bootstrap5 核心 CSS 文件 -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">

    <!--  popper.min.js 用于弹窗、提示、下拉菜单 -->
    <!--<script src="https://cdn.staticfile.org/popper.js/2.9.3/umd/popper.min.js"></script>-->

    <!-- 最新的 Bootstrap5 核心 JavaScript 文件 -->
    <script src="../js/bootstrap.bundle.min.js"></script>

    <!--  vue.js  -->
    <script src="../js/vue.js"></script>

    <!--  bootstrap5 图标库-->
    <link rel="stylesheet" href="../bootstrapicons/font/bootstrap-icons.css">

    <!--  备用cdn  -->

    <!--  popper.min.js 用于弹窗、提示、下拉菜单 -->
    <script src="https://cdn.staticfile.org/popper.js/2.9.3/umd/popper.min.js"></script>

    <script src="../js/axios.min.js"></script>

    <!--  和风天气  -->
    <script src="https://widget.qweather.net/simple/static/js/he-simple-common.js?v=2.0"></script>

    <style>
        #mainpart{
            margin-top: 50px;
        }
        #mainbody{
            background-image: url("https://s3.bmp.ovh/imgs/2022/03/07ca2075685f0fd8.png");
            background-size:100% 100%;
        }
    </style>

</head>
<body id="mainbody">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">
            小山屋论坛</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="http://localhost:8080/login/toreg">注册</a>
                </li>
            </ul>
        </div>
        <div id="he-plugin-simple"></div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>
<div class="container">
    <div id="mainpart" class="row">
        <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>';">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">小山屋论坛</a></li>
                <li class="breadcrumb-item active" aria-current="page">找回密码</li>
            </ol>
        </nav>
        <div class="col-sm">
            <div class="card">
                <h5 class="card-header">你正在找回您的密码</h5>
                <div class="card-body">
                    <h4 class="card-title">别担心，我们都有不顺利的时候</h4>
                    <p class="card-text">在右侧验证邮箱，并填写新的密码即可修改密码</p>
                </div>
            </div>
        </div>
        <div id="findpwdform" class="col-sm">
            <form>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">电子邮件地址/用户名</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                           placeholder="example@example.com" v-model="uemail">
                    <div id="emailHelp" class="form-text">填写您注册时的邮箱</div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">验证码</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="surepwdid" aria-describedby="surepwdhelp"
                               v-model="surepwd">
                        <div id="surepwdhelp" class="form-text">填写您刚收到的六位数验证码</div>
                    </div>
                    <button type="button" class="btn btn-info" v-bind:class="{disabled:dis}" @click="getCode()">
                        发送验证码</button>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">新密码</label>
                    <input type="text" class="form-control" id="exampleInputPassword1" v-model="upwd">
                    <div id="pwdHelp" class="form-text">不要将密码泄露给任何人</div>
                </div>
            </form>
            <button type="button" class="btn btn-primary" @click="submitForm()"><span class="bi-person"></span> 用户登录</button>
        </div>
    </div>
</div>
<footer class="bd-footer p-3 p-md-5 mt-5 bg-light text-center text-sm-start">
    <div class="container">
        <ul class="bd-footer-links ps-0 mb-3">
            <li class="d-inline-block" ><a href="https://github.com/bluebonnet27/xiaoshanwu">GitHub</a></li>
        </ul>
        <p class="mb-0">小山屋论坛 Copyright© 2022 All Rights Reserved. </p>
        <p class="mb-0">当前版本 v0.1。</p>
    </div>
</footer>
</body>
</html>
<script>
    new Vue({
        el:"#findpwdform",
        data:{
            dis:false,
            uemail:"",
            upwd:"",
            surepwd:"",
            errMsg:"",
            resMsg:""
        },
        methods:{
            getCode:function (){
                axios
                    .post('/login/reggetcode?testemail=' + this.uemail)
                    .then(response =>{
                        if(response.data.result){
                            alert(response.data.resMsg)
                            this.dis = true
                        }else {
                            alert(response.data.errMsg)
                        }
                    })
                    .catch(function (error) { // 请求失败处理
                        console.log(error);
                    });
            },
            submitForm:function (){
                //封装表单参数
                const formDate=new FormData();
                formDate.append("newpwd",this.upwd);
                formDate.append("uemail",this.uemail);
                formDate.append("checkcode",this.surepwd);

                axios
                    .post('/login/findbackpwd',formDate)
                    .then(response =>{
                        if(response.data.result){
                            alert(response.data.resMsg)
                            window.open('/ind/userindex','_self')
                        }else{
                            alert(response.data.errMsg);
                        }
                    })
                    .catch(function (error) { // 请求失败处理
                        console.log(error);
                    });
            }
        }
    })
</script>
<script>
    WIDGET = {
        "CONFIG": {
            "modules": "01234",
            "background": "5",
            "tmpColor": "FFFFFF",
            "tmpSize": "16",
            "cityColor": "FFFFFF",
            "citySize": "16",
            "aqiColor": "FFFFFF",
            "aqiSize": "16",
            "weatherIconSize": "24",
            "alertIconSize": "18",
            "padding": "10px 10px 10px 10px",
            "shadow": "0",
            "language": "auto",
            "fixed": "false",
            "vertical": "top",
            "horizontal": "left",
            "key": "cf27931f9fc64a1ab5a731d34257357d"
        }
    }
</script>