<!DOCTYPE html>
<html lang="en">
<head>
    <title>小山屋论坛-注册</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- 新 Bootstrap5 核心 CSS 文件 -->
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <!--  popper.min.js 用于弹窗、提示、下拉菜单 -->
    <!--<script src="https://cdn.staticfile.org/popper.js/2.9.3/umd/popper.min.js"></script>-->

    <!-- 最新的 Bootstrap5 核心 JavaScript 文件 -->
    <script src="js/bootstrap.bundle.min.js"></script>

    <!--  vue.js  -->
    <script src="js/vue.js"></script>

    <!--  bootstrap5 图标库-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

    <!--  备用cdn  -->

    <!-- 新 Bootstrap5 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css">

    <!--  popper.min.js 用于弹窗、提示、下拉菜单 -->
    <script src="https://cdn.staticfile.org/popper.js/2.9.3/umd/popper.min.js"></script>

    <!-- 最新的 Bootstrap5 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/js/bootstrap.min.js"></script>

    <script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
    <script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>

    <!--  和风天气  -->
    <script src="https://widget.qweather.net/simple/static/js/he-simple-common.js?v=2.0"></script>

    <style>
        #mainpart{
            margin-top: 50px;
        }
    </style>

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">
            小山屋论坛</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">关于</a>
                </li>
            </ul>
        </div>
        <div id="he-plugin-simple"></div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>
<div class="container">
    <div class="row">
        <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>';">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">主页</a></li>
                <li class="breadcrumb-item active" aria-current="page">注册</li>
            </ol>
        </nav>
        <div class="col-sm-8">
            <div id="formmain">
                <form class="row g-3">
                    <label for="usernameinput" class="form-label">用户昵称</label>
                    <div class="col-sm-6">
                        <input class="form-control" id="usernameinput" aria-describedby="usernamehelp" v-model="uname">
                        <div id="usernamehelp" class="form-text">起一个好听点的名字</div>
                    </div>
                    <div class="col-sm-6">
                        <button type="button" class="btn btn-outline-info mb-3" @click="checkName()">检查名字可用性</button>
                    </div>
                </form>


                <form>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">密码</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" v-model="upwd">
                    </div>
                    <div class="mb-3">
                        <label for="emailinput" class="form-label">电子邮件</label>
                        <input class="form-control" id="emailinput" v-model="uemail">
                    </div>
                    <div class="mb-3">
                        <label for="birthdate" class="form-label">出生日期</label>
                        <input class="form-control" type="date" id="birthdate" v-model="ubirth">
                    </div>
                    <div class="mb-3">
                        <label for="sexselect" class="form-label">性别</label>
                        <select id="sexselect" class="form-select" aria-label="Default select example" v-model="usex">
                            <option value="0">男</option>
                            <option value="1">女</option>
                            <option value="2">非二元性别</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="headselect" class="form-label">头像</label>
                        <select id="headselect" class="form-select" aria-label="Default select example" v-model="uhead">
                            <option value="0">[默认头像组]27</option>
                            <option value="1">[默认头像组]嘉然今天吃什么</option>
                            <option value="2">[默认头像组]应急食物</option>
                            <option value="3">[头像组1]奸商</option>
                            <option value="4">[头像组1]友好</option>
                            <option value="5">[头像组1]妹妹</option>
                        </select>
                    </div>
                    <div class="accordion">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    默认头像组
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>27</th>
                                            <th>嘉然今天吃什么</th>
                                            <th>应急食物</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td><img src="https://s3.bmp.ovh/imgs/2022/03/e08d5a7f92af19a3.jpg"
                                                     style="width: 50px;height: 50px" alt="我是谁？"/> </td>
                                            <td><img src="https://s3.bmp.ovh/imgs/2021/09/1ecc277aceb7f0cc.jpg"
                                                     style="width: 50px;height: 50px"/> </td>
                                            <td><img src="https://s3.bmp.ovh/imgs/2022/03/f03a122e2881b469.jpg"
                                                     style="width: 50px;height: 50px"/> </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                    头像组1
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>奸商</th>
                                            <th>友好</th>
                                            <th>妹妹</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td><img src="https://s3.bmp.ovh/imgs/2022/03/a62e7f67b1445b99.jpg"
                                                     style="width: 50px;height: 50px"/> </td>
                                            <td><img src="https://s3.bmp.ovh/imgs/2022/03/368165a02ad9e909.jpg"
                                                     style="width: 50px;height: 50px"/> </td>
                                            <td><img src="https://s3.bmp.ovh/imgs/2022/03/6a78629e60ae1311.jpg"
                                                     style="width: 50px;height: 50px"/> </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="ustatement" class="form-label">描述</label>
                        <textarea class="form-control" type="text" id="ustatement" v-model="ustate"></textarea>
                    </div>
                </form>
                <button class="btn btn-primary" @click="regForm()"><span class="bi-arrow-right-circle-fill"></span> 注册</button>
                <button class="btn btn-success" href="http://localhost:8080/login/tologin"><span class="bi-box-arrow-down-right"></span> 已有账号？直接登录！</button>
            </div>
        </div>
        <div class="col-sm-4">

        </div>
    </div>
</div>
<footer class="bd-footer p-3 p-md-5 mt-5 bg-light text-center text-sm-start">
    <div class="container">
        <ul class="bd-footer-links ps-0 mb-3">
            <li class="d-inline-block" ><a href="https://github.com/bluebonnet27/xiaoshanwu">GitHub</a></li>
        </ul>
        <p class="mb-0">小山屋论坛 Copyright© 2022 All Rights Reserved. </p>
        <p class="mb-0">当前版本 v0.1。</p>
    </div>
</footer>
</body>
</html>
<script>
    new Vue({
        el:"#formmain",
        data:{
            uname:"",
            upwd:"",
            uemail:"",
            ubirth:"",
            usex:"",
            uhead:"",
            ustate:"",
            errMsg:"",
            resMsg:""
        },
        methods:{
            checkName:function (){
                //封装表单参数
                const formDate=new FormData();
                formDate.append("uname",this.uname);

                axios.post('http://localhost:8080/login/checkname',formDate)
                    .catch(function (error) { // 请求失败处理
                        alert(error);
                    })
                    .then(response =>{
                        if(response.data.result){
                            alert("用户名可用！")
                        }else{
                            alert(response.data.errMsg);
                        }
                    })
                    .catch(function (error) { // 请求失败处理
                        alert(error);
                    });
            },

            regForm:function (){
                const formDate=new FormData();
                formDate.append("username",this.uname);
                formDate.append("userpwd",this.upwd);
                formDate.append("useremail",this.uemail);
                formDate.append("usersex",this.usex);
                formDate.append("userhead",this.uhead);
                formDate.append("userbirth",this.ubirth);
                formDate.append("userstatement",this.ustate);

                axios
                    .post('http://localhost:8080/login/regfull',formDate)
                    .then(response =>{
                        if(response.data.result){
                            alert(response.data.resMsg)
                        }else{
                            alert(response.data.errMsg);
                        }
                    })
                    .catch(function (error) { // 请求失败处理
                        alert(error);
                    });
            }
        }
    })
</script>
<script>
    WIDGET = {
        "CONFIG": {
            "modules": "01234",
            "background": "5",
            "tmpColor": "FFFFFF",
            "tmpSize": "16",
            "cityColor": "FFFFFF",
            "citySize": "16",
            "aqiColor": "FFFFFF",
            "aqiSize": "16",
            "weatherIconSize": "24",
            "alertIconSize": "18",
            "padding": "10px 10px 10px 10px",
            "shadow": "0",
            "language": "auto",
            "fixed": "false",
            "vertical": "top",
            "horizontal": "left",
            "key": "cf27931f9fc64a1ab5a731d34257357d"
        }
    }
</script>